#Login {
    background-image: url('./images/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

#Login img {
    position: absolute;
    bottom: 0px;
    right: 0;
}

#Register {
    background-image: url('./images/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

#Register img {
    position: absolute;
    bottom: 0px;
    right: 0;
}

@media (max-width: 768px) { /* Adjust the max-width as needed */
    #Login {
        background-image: none;
    }

    #Login img {
        display: none;
    }

    #Register {
        background-image: none;
    }

    #Register img {
        display: none;
    }
}